<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tr>
    <th>name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>Follows:</th>
    <td><%= link_to user_followings_path(user) do %><%= user.followings.count %><% end %></td>
  </tr>
  <tr>
    <th>Followers:</th>
    <td><%= link_to user_followers_path(user) do %><%= user.followers.count %><% end %></td>
  </tr>
</table>
<%= render 'relationships/btn', user: user %>
<div class="my-1 mx-auto">
  <%= link_to (edit_user_path(user.id)), class:"btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>