<div class="container px-5 px-sm-0">
  <%= flash[:notice] %>
  <div class="row ">
   
    <div class="col-md-3">
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2>New book</h2>
      <%= render 'layouts/error_message', obj: @new_book %>
      <%= render 'form', book: @new_book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td>
            <%= link_to user_path(@book.user_id) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %></br>
              <%= @book.user.name %>
            <% end %>
            </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <% if @book.user_id == current_user.id %>
            <td><%= link_to 'Edit' ,edit_book_path(@book.id), class:"btn btn-success" %></td>
            <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, class:"btn btn-danger" %></td>
          <% end %>
          <td>
            <% if @book.favorited_by?(current_user) %>
              <%= link_to (book_favorites_path(@book)), method: :delete do %>
                <i class="fa-solid fa-heart"></i><%= @book.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to (book_favorites_path(@book)), method: :post do %>
                <i class="fa-regular fa-heart"></i><%= @book.favorites.count %>
              <% end %>
            <% end %>
          </td>
          <td>Comment: <%= @book.book_comments.count %></td>
        </tr>
      </table>
      <div>
        <h5>Comments</h5>
        <%= render 'book_comments/index', book: @book %>
      </div>
      <div>
        <h5>New Comment</h5>
        <%= render 'book_comments/form', comment: @comment, book: @book %>
      </div>
    </div>
    
  </div>
</div>